  .space{
    height: 100px;
  }
  
  #main_title {
    font-size: 120px;
    font-family: 'NerdFont', 'Courier New', Courier, monospace;
    text-align: center;
  }
  
  .presentation {
    font-size: 70px;
    text-align: center;
  }

  .presentation_box {
    background-image: linear-gradient(to top right,
    #219ebc 17.9%, #ffffff 18%, #ffffff 81.9%, #ffb703 82%, #ffb703);
  }

  .black_waves {
    height: 75px;
    width: 110%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("/black_wave.png");
    background-size: 100px;
    background-repeat: repeat-x;
    z-index: 0;
    animation: waves 5s linear infinite;
  }

  @keyframes waves{
    0% {
      transform: translate(-100px,0);
    }
    100% {
      transform: translate(0px,0);
    }
  }

  .unfinished_message {
    display: flex;
    justify-content: center;
    background-color: rgba(255,0,0,0.2);
    border-radius: 10px;
    width: 40%;
    font-size: 20px;
    margin: auto;
    padding: 10px;
  }