
.cv_button_container {
    height: 50px;
    min-width: 100px;
    border: none;
    background: none;
    padding-bottom: 10px;
    margin-top: 30px;
    text-decoration: none;
}

.cv_button_decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,255,0);
    font-size: 18px;
    border: solid rgba(0,255,0) 2px;
    width: 100%;
    padding: 0 10px;
    height: 100%;
    box-shadow: 0 10px 0 0 rgba(0,255,0);
}


.cv_button_container:hover {
    padding-bottom: 0;
    padding-top: 10px;
    cursor: pointer;
}
.cv_button_container:hover .cv_button_decoration {
    box-shadow: none;
}
.cv_button_container:active .cv_button_decoration{
    border-color: white;
    color: white;
}

.centered_content {
    display: flex;
    justify-content: center;
}

#cv_title {
    margin-bottom: 50px;
}