
.folder_container {
    color: rgba(0,255,0);
}

.folder_container p {
    margin: 0;
    padding: 2px 0;
    font-size: 25px;
}

.folder_container button {
    background-color: transparent;
    color:rgb(0,255,0);
    font-size: 25px;
    border: none;
}

.folder_container button:hover {
    color:rgb(0,100,0);
    cursor: pointer;
}

.selected_option {
    text-decoration: underline;
}