
html:has(div.shown_explanation), body:has(div.shown_explanation){
    overflow-y: hidden;
}


.project_explanation_background{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: var(--z_index)
}

.project_explanation_background.shown_explanation {
    animation: enter_dialog_background 1s forwards;
}

@keyframes enter_dialog_background {
    0% {
        display: none;

    }
    1% {
        display: block;
        background-color: transparent;
    }
    100% {
        background-color: rgba(0,0,0,0.5);
        display: block;
    }
}

.project_explanation_background.hidden_explanation {
    animation: exit_dialog_background 0.2s forwards;
}

@keyframes exit_dialog_background {
    0% {
        display: block;
        background-color: rgba(0,0,0,0.5);
    }
    99% {
        display: block;
        background-color: transparent;
    }
    100% {
        display: none;
    }
}





.project_explanation_box{
    position: fixed;
    top:5vh;
    width: min(1000px, 90vw);
    left: max(calc(50vw - 500px), 5vw);
    height: 90vh;
    background-color: black;
    border-radius: 10px;
    color: white;
    z-index: var(--z_index)
}

.project_explanation_box h2 {
    text-align: center;
}

.project_explanation_box p {
    text-indent: 7ch;
    text-align: justify;
}

.project_explanation_box img, .project_explanation_box video {
    margin: auto;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}

.project_explanation_box a {
    color: #c1f6ff;
}

.project_explanation_box a:hover {
    color: #587175;
}

.project_explanation_box.shown_explanation {
    animation: enter_dialog_box 1s ease-in-out forwards;
}

@keyframes enter_dialog_box {
    0% {
        display: none;
        transform: translateY(-200px);
        opacity: 0%;
    }
    1% {
        display: flex;
    }
    70%{
        transform: translateY(20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
        display: flex;
    }
}

.project_explanation_box.hidden_explanation {
    animation: exit_dialog_box 1s forwards;
}

@keyframes exit_dialog_box {
    0% {
        display: flex;
        opacity: 100%;
        transform: translateY(0);
    }
    20% {
        transform: translateY(20px);
    }
    99% {
        display: flex;
        opacity: 0%;
        transform: translateY(-200px);
    }
    100% {
        opacity: 0%;
        display: none;
    }
}


.meme {
    background-image: url('/public/meme.jpg');
    background-repeat: no-repeat;
    background-position: center;
}


.gtc_40_60 {
    grid-template-columns: 40% 60%;
    padding: 10px 0;
}

.gtc_60_40 {
    grid-template-columns: 60% 40%;
    padding: 10px 0;
}

.grid_2c_1r{
    display: grid;
}

.grid_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    
}

@media screen and (max-width: 1000px){
    .grid_2c_1r{
        display: flex;
        flex-direction: column;
    }
    .grid_2c_1r img{
        width: 50% !important;
    }

    .gtc_40_60 {
        flex-direction: column-reverse;
    }
    .gtc_60_40 {
        flex-direction: column;
    }

    .grid_gallery {
        display: flex;
        flex-direction: column;
    }
}

