.works_grid {
    display: grid;
    gap: 30px;
    margin: 30px;
    width: calc(100% -60px);
}

.technologies {
    display: flex;
    justify-content: right;
    position: absolute;
    background-color: var(--technologies_background_color);
    bottom: 0;
    right: 0;
    z-index: 2;
    border-radius: 100px 0 10px 100px;
    bottom: 0px;
}

@media screen and (max-width: 1000px){
    .works_grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid_element h2 {
        color: white;
        font-size: 9vw;
    }
    .technologies {
        height: 10vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .works_grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid_element h2 {
        color: white;
        font-size: 4.5vw;
    }
    .technologies {
        height: 5vw;
    }
}

@media screen and (min-width: 1500px) and (max-width: 3000px) {
    .works_grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .grid_element h2 {
        color: white;
        font-size: 3vw;

    }
    .technologies {
        height: 3.33vw;
    }
}

@media screen and (min-width: 3000px) {
    .works_grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .grid_element h2 {
        color: white;
        font-size: 3vw;

    }
    .technologies {
        height: 2.5vw;
    }
}

@media screen and (min-width: 4000px) {
    .works_grid{
        grid-template-columns: repeat(5, 1fr);
    }
    .grid_element h2 {
        color: white;
        font-size: 3vw;

    }
    .technologies {
        height: 2vw;
    }
}