.about_container {
    background-color: black;
    color: white;
    padding-bottom: 100px;
}

#about {
    color: white;
}



.custom_console {
    height: min(80vh,700px);
}

@media only screen 
and (max-width : 760px) {
    .custom_folder_container{
        display: flex;
        justify-content: left;
        margin: 20px 0px 50px 50px;
    }

    .console_and_file_container {
        display: block;
        width: 100%;
    }
    
    .custom_console {
        width: calc(100% - 100px);
        margin: 10px 50px;
    
    }
}

@media only screen 
and (min-width : 760px) {

    .custom_folder_container{

        position: absolute;
        left: 65%;
        width: 35%;
    }

    .console_and_file_container {
        width: 100%;
        position: relative;
    }
    
    .custom_console {
        width: 55%;
        margin-left: 5%;
        margin-top: 30px;

    
    }
}
