:root {
    --header_height: 30px;
    --content_padding: 20px;
}


.console_container {
    border-radius: 20px;
    border: grey 6px solid;
    overflow: hidden;
    background-color: rgba(0,255,0);
}

.console_container_header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--header_height);
    background-color: gray;
}

.console_container_header_left {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 20%;
}

.console_container_header_center {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.console_container_header_right {
    height: 100%;
    width: 20%;
}

.first_dot {
    background-color: red;
}

.second_dot {
    background-color: rgb(220,220,0);
}
.third_dot {
    background-color: rgb(0,200,0);
}

.dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 3px;
}

.console_container_content {
    display: block;
    padding-left: var(--content_padding);
    padding-right: var(--content_padding);
    padding-top: var(--content_padding);
    margin:0;
    min-height: 400px;
    height: calc(100% - var(--header_height) - var(--content_padding));
    width: calc(100% - var(calc(--content_padding * 2)));
    position: relative;
}

.light_console {
    background-color: white;
    color:black;
}

.dark_console {
    background-color: black;
    color:white;
}

.hacker_console {
    background-color: black;
    color:rgb(0,255,0);
    border-color: rgb(0,255,0);
}

.hacker_console > .console_container_header {
    background-color: rgb(0,255,0);
    border-color: rgba(0,255,0);
}

.hacker_console .first_dot, .hacker_console .second_dot, .hacker_console .third_dot {
    background-color: black;
}

.scrollbar
{
	float: left;
	overflow-y: auto;
    z-index: 0;
}

.hacker_console .style-8::-webkit-scrollbar-track
{
	background-color: transparent;
    box-shadow: -1px 0px 0px 0px rgba(0,255,0);
}

.hacker_console .style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.hacker_console  .style-8::-webkit-scrollbar-thumb
{
	background-color: rgba(0,255,0);
    border: 3px solid black;
    z-index: 0;
}