
#contact_card {
    margin-top: 5vh;
}

#contact_card p , #contact_card a {
    padding: 10px;
    font-weight: bold;
    font-size: 3em;
    display: block;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg
        , #ff0000
        , #ff8000
        , #ff0000
        , #f07400
        , #ff7b00
        , #ff0000
    );
    animation: gradient 60s linear infinite;
    background-size: 10%;
}

#contact_card a {
    text-decoration: underline;
    text-decoration-color: tomato;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.contact_container_with_bulb {
    position: relative;
    overflow: visible;
}

.contact_container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}

.contact_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/background5.png');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Coloca el fondo detrás del contenido */
    transform-origin: center; /* Establece el centro de rotación */
    animation: rotateBackground 300s linear infinite; /* Aplica la animación */
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg) scale(2.3); /* Empieza desde 0 grados */
    }
    to {
        transform: rotate(360deg) scale(2.3); /* Rota completamente 360 grados */
    }
}


.contact_container h1 {
    position: inherit;
    color: white;
    text-shadow: 5px 5px 20px rgba(0,0,0,1);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 10px;
    z-index: 2;
}

.linkedin_contact {
    width: 100px;
    height: 100px;
}

.bulb_image {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 100px;
    height: 100px;
    z-index: 1;
    overflow: visible !important;
}

.left-diagonal-container, .right-diagonal-container {
    position: relative;
    top:-1px;
    width: 50%;
    height: 300px;
}

.right-diagonal-1, .right-diagonal-2, .right-diagonal-3, .right-diagonal-4, .left-diagonal-1, .left-diagonal-2, .left-diagonal-3, .left-diagonal-4 {
    position: absolute; /* Para que se superpongan */
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}



.left-diagonal-1 {
    background-color: rgba(30, 30, 30, 1);
    clip-path: polygon(0 0, 100% 0, 0 60%);
}

.left-diagonal-2 {
    background-color: rgba(30, 30, 30, 0.7); /* Capa intermedia */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 80%);
}

.left-diagonal-3 {
    background-color: rgba(30, 30, 30, 0.4); /* Capa superior */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 90%);
}

.left-diagonal-4 {
    background-color: rgba(30, 30, 30, 0.2); /* Capa superior */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
}




.right-diagonal-1 {
    background-color: rgba(30, 30, 30, 1); /* Capa inferior */
    clip-path: polygon(100% 0, 0 0, 100% 60%);
}

.right-diagonal-2 {
    background-color: rgba(30, 30, 30, 0.7); /* Capa intermedia */
    clip-path: polygon(100% 0, 0 0, 0 0, 100% 80%);
}

.right-diagonal-3 {
    background-color: rgba(30, 30, 30, 0.4); /* Capa superior */
    clip-path: polygon(100% 0, 0 0, 0 0, 100% 90%);
}

.right-diagonal-4 {
    background-color: rgba(30, 30, 30, 0.2); /* Capa superior */
    clip-path: polygon(100% 0, 0 0, 0 0, 100% 100%);
}
