nav {
    position: fixed;
    width: 100vw;
    margin:0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    border-bottom: white;
    z-index: 10;
  }

  .nav_hover_animation {
    transition: background-color 0.3s;
  }
  .nav_hover_animation:hover{
    background-color: rgba(220,220,220,0.7);
  }

  .ji_logo {
    object-fit: contain;
    padding: 3px;
    border-radius: 10px;
    margin: 3px;
  }

  .menu_container{
    display: flex;
    justify-content: space-between;
  }
  
  @media screen AND (max-width: 450px) {
    .menu_option_list {
      display: block;
      text-align: center;
      font-size: min(20px, 8vw);
    }
  }
  @media screen AND (min-width: 450px) {
    .menu_option_list {
      display: flex;
      width: 70%;
      justify-content: space-around;
      align-items: center;
      font-size: min(20px, 4vw);
    }
  }
  

  .menu_option {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu_option a{
    text-align: center;
    border-radius: 10px;
    color: black;
    padding-top: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .menu_right_zone{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .menu_left_zone{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .language_selection a{
    text-decoration: none;
    color: white;
    padding: 5px;
  }

  .language_selection {
    padding-right: 20px;
  }

  .lang_icon {
    border-radius: 10px;
    margin: 5px;
  }