.black_waves_2 {
    height: 100px;
    width: calc(100% + 100px);
    position: absolute;
    mask-image: url("/public/black_wave_2.png");
    mask-size: 100px;
    mask-repeat: repeat-x;
    z-index: 0;
    animation: waves2 5s linear infinite;
}

.bg-color-black {
    background-color: black;
}

.bg-color-gray {
    background-color: rgb(30, 30, 30);
}

.black_waves_wrapper {
  transform: rotate(180deg);
}

@keyframes waves2{
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(-100px,0);
    }
  }
  
.startup_works_container {
    background-color: rgb(240, 168, 0);
    padding-bottom: 200px;
}

.works_container {
    background-color: rgb(30,30,30);
    padding-bottom: 100px;
}

#works {
    margin:0;
    padding-top: 120px;
    color: white;
}