
@font-face {
    font-family: 'DancingScript';
    src: url('/DancingScript-VariableFont_wght.ttf') format('truetype');
  }


.works_container {
    background-color: rgb(30,30,30);
    padding-bottom: 100px;
}

#works {
    margin:0;
    color: white;
}

.testing_carrousel {
    overflow-x: scroll;
    display: flex;
    justify-content: left;
    width: 100%;
}

.testing_element {
    min-width: 100%;
    height: 100px;
    background-image: linear-gradient(to top right, rgb(0,0,255), rgb(255,0,0));
}

.works_grid {
    display: grid;
    gap: 30px;
    margin: 30px;
    width: calc(100% -60px);
}

@media screen and (max-width: 1000px){
    .works_grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid_element h2 {
        color: white;
        font-size: 9vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
    .works_grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid_element h2 {
        color: white;
        font-size: 4.5vw;

    }
}

@media screen and (min-width: 2000px) {
    .works_grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .grid_element h2 {
        color: white;
        font-size: 3vw;

    }
}

.grid_element {

    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 0px rgb(255,255,255);
    height: 50vh;
    border-radius: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.grid_element:hover {
    transform: translate(0px,-10px);
    box-shadow: 0px 0px 20px rgb(255,255,255);
}


.grid_element h2 {
    color: white;
    user-select: none;
}
.grid_element p {
    color: white;
    user-select: none;
}


/* Projects CSS */

.project_background {
    position: relative;
    z-index: 1;
}

.portfolio_project {
    background-image: linear-gradient(75deg, var(--main_color1) 45%, white 45.1%, white 54.9%, var(--main_color2) 55%);
}

.portfolio_project h2 {
    user-select: none;
    margin: 0;
    color: black;
    background-color: white;
    border-radius: 100vh;
    padding: 1vh 5vh 0px 5vh;
}

.technologies {
    display: flex;
    justify-content: right;
    position: absolute;
    background-color: black;
    height: 10vh;
    bottom: 0;
    right: 0;
    z-index: 2;
    border-radius: 0 0 10px 0;
    bottom: -1px;
}

.technologies:after {
    position: absolute;
    content:'';
    background-color: black;
    height: 100%;
    width: 50px;
    transform: skew(15deg);
    left: -25px;
    z-index: 2;
    mix-blend-mode: hue;
}

.technology_logo_container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 10vh;
}

.technology_logo_container a {
    color: white;
    text-decoration: none;
    overflow: hidden;
    word-wrap: unset;
    width: 0;
    transition: width ease 0.5s, font-size ease 0.5s;
}

.technology_logo_container a::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width 0.1s ease;
}

.technology_logo_container:hover a{
    width: var(--text_length);
}

.technology_logo_container a:hover{
    font-size: 25px;
    cursor: pointer;
}

.technology_logo_container a:hover:after{
    width: calc(var(--text_length) - 2ch);
}

.technology_logo_container img {
    object-fit: contain;
    max-height: calc(100% - 10px);
    margin: 0 10px;
    z-index: 3;
}

.ts_logo {
    border-radius: 10px;
}

.round_border {
    border-radius: 100%;
}

.white_border {
    border: rgba(255,255,255,0.7) 3px solid;
}

/*Stable diffusion project*/

.stablediffusion_project {
    background-image: url("/stablediffusion_img1.png");
    background-position: left -350px top 00px;
}

.stablediffusion_project h2 {
    font-family: 'DancingScript', cursive;
}