@font-face {
  font-family: 'NerdFont';
  src: url('/13270NerdFont-Condensed.ttf') format('truetype');
}

* {
  font-family: 'NerdFont';
}

html {
  scroll-behavior: smooth;
}


h1 {
  text-align: center;
  font-size: 80px;
  color: white;
  padding: 50px;
  margin: 0;
}

body {
  margin: 0;
  background-color: white;
  scroll-behavior: smooth;
}

.fullpage {
  min-height: 100vh;
  background-color: black;
}
