menu {
    position: fixed;
    height: 50px;
    width: 100%;
    margin:0;
    padding: 0;
  }
  
  .menu_option_list {
    display: flex;
    background-color: rgb(20, 50, 20);
    justify-content: center;
  }

  .menu_option_list a {
    color: white;
    text-decoration: none;
  }
  
  .menu_option {
    
    padding: 10px 100px;
  }